.none {
  display: none;
  display: 'flex';
  width: 40px;
  height: 40px;
  background-color: var(--color_primary);
  border-radius: 50%;
}
.sticky {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 99999999999999999;
}
.zalo {
  animation: pulse-blue 2s infinite;
  position: fixed;
  bottom: 90px;
  left: 50px;
  width: 40px;
  height: 40px;
  z-index: 999999999999;
  border-radius: 50%;
}

@keyframes pulse-blue {
  0% {
    box-shadow: 0 0 0 0 rgba(2, 143, 227, 0.7);
    transform: scale(0.95);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(2, 143, 227, 0);
    transform: scale(1);
  }

  to {
    box-shadow: 0 0 0 0 rgba(2, 143, 227, 0);
    transform: scale(0.95);
  }
}
