.search,
.search-result {
  width: 361px;
}

.icon {
  transition: all 0.25s ease-in-out 0s;
  font-size: 20px;
}

.loading,
.clear {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #828282;
  border: none;
  margin-right: 5px;
  transition: 0.5s all ease-out;
}

.search {
  height: 200px;
  display: flex;
  width: 361px;
  position: relative;
  max-height: 36px;
  input {
    font-size: 17.5px;
    border-radius: 0 15px 15px 0;
    border: 0;
    outline: none;
    background-color: #fff;
    height: 100%;
    width: 100%;
    caret-color: var(--color_primary);
    padding-right: 25px;
  }
}

.search-btn {
  border-radius: 15px 0 0 15px;
  border: none;
  background-color: #fff;
  // color: white;
  width: 40px;
  height: 100%;
  .icon {
    height: 100%;
  }

  &:hover {
    .icon {
      font-size: 25px;
      cursor: pointer;
    }
  }
}

.loading {
  z-index: 999;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-title {
  padding: 5px 20px;
  font-size: 22px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
