.item {
  margin: 20px;
  // &:last-child {
  //   margin-right: 20px;
  // }

  ._item {
    margin: 20px 0;
  }
}

.itemIcon {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: aqua;
  margin: 20px;
}
